 <div class=wrapper style="width: 1000px">

 	<div style="position:absolute;left:150px;top:75px;z-index:-1;">
 		<p style="font-size:40px;">

  <%= @question.text %> <%= @question.text1 %> <%= @question.text2 %> <%= @question.text3 %>?

	</p> 
	
	<p style="font-size:20px;"> 
	<br>Grade: <%= @question.grade %> | Subject: <%= @question.subject %></p>
</div>
<div>


</div>